*.zip
*.exe
*.pdb
*.pdf
*.cache

/zad/
/laba10/
Speed reading/Speed reading/obj/Debug/Speed reading.csproj.FileListAbsolute.txt
Speed reading/Speed reading/bin/DEbug/Speed reading.pdb
Speed reading/Speed reading/bin/DEbug/Speed reading.exe
